<app-loading *ngIf="loadingArtist"></app-loading>
<div class="row" *ngIf="!loadingArtist">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3> {{ artist.name}} </h3>
    </div>
    <p>
        <a [href]="artist.external_urls.spotify" target="_blank"> Pagina artista</a>
    </p>
    <div class="col-4 text-right">
        <button class="btn btn-outline-danger">
            Volver
        </button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <table>
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of topTraks">
                    <td> <img [src]="item.album.images | noimage" class="img-circle img-thumb"></td>
                    <td> {{ item.album.name }}</td>
                    <td> {{ item.name }}</td>
                    <!-- <td> <audio [src]="item.preview_url" controls></audio></td> -->
                    <iframe [src]="item.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </tr>
            </tbody>
        </table>
    </div>
</div>